{% extends "AddBundle::newTwigTemplate.html.twig" %}
{% block section %} 
    <section class="qui">
        <header class="header">
            <h2 id="moi">A propos</h2>
        </header>
        <article>
            <p>Fournival</p>
            <p>Jonathan</p>
            <p>26 ans</p>
            <p>Pérmis B</p>
            <p>Vehicule peronnel</p>
        </article>
    </section>
{% endblock %}