{% extends "AddBundle::newTwigTemplate.html.twig" %}
{% block section %}
    <section class="exp">
        <header class="header">
            <h2 id="exper">Expèrience</h2>
        </header>
        <article>
            <p>Aide démenageur 2011.</p>

            <p>Démenagemant dans le sud de la France de sociéte et de particuliers avec DFT.</p>

            <p>Intérimaire 2012.</p>

            <p>Traveaux paysagiste pour des particulier.</p>

            <p>intérimaire agricole 2013.</p>

            <p>Cycle de géstion du colza.</p>

            <p>Préparateur de commande manutantionnaire 2014.</p>

            <p>Préparateur de commande de profiler allu dans l'entreprise ProfilSystem.</p>
            <footer>
            </footer>
        </article>
    </section>
{% endblock %}