{% extends "AddBundle::newTwigTemplate.html.twig" %}
{% block section %}
    <section class="fun">
        <header class="header">
            <h2 id="loisir">Loisirs</h2>
        </header>
        <article>
            <p>Informatique</p>
            <p>Dessin: <a class="lol" href="http://image.noelshack.com/fichiers/2016/16/1461266544-001.jpg">exemple</a></p>
            <p>Musique</p>
            <p>Auto</p>
        </article>
    </section>  
{% endblock %}    